	html,
	body {
		height: 100%;
	}

	body {
		margin: 0px;
		padding: 0px;
		background: #ad8667 url('./images/bg.jpg');
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 12pt;
		font-weight: 400;
		color: #515151;
	}


	h1,
	h2,
	h3 {
		margin: 0;
		padding: 0;
		color: #32251B;
	}

	p {
		margin-top: 0;
		padding-left: 40px;
		line-height: 180%;
	}

	.container {
		margin: 0em auto;
		width: 1200px;
	}

	/*********************************************************************************/
	/* Image Style                                                                   */
	/*********************************************************************************/

	#fan {
		width: 150px;
		float: right;
		margin-top: 10em;
		margin-left: 15em;
		cursor: pointer;
	}

	#door {
		height: 336px;
		margin-top: 32px;
		float: left;
		cursor: pointer;
	}

	#ring {
		margin-top: 70px;
		/* margin-right: 0px; */
		width: 90px;
		cursor: pointer;
	}

	#light {
		margin-top: 140px;
		width: 50px;
		cursor: pointer;
	}

	#people_induction {
		margin-top: 118px;
		margin-left: 10px;
		width: 25px;
		/* cursor: url('./images/cursor.cur'),auto; */
	}

	img {
		transform: scale(1, 1);
		transition: all 0.5s ease-out;
	}

	img:hover {
		transform: scale(1.2, 1.2);
	}

	/*********************************************************************************/
	/* Menu                                                                          */
	/*********************************************************************************/
	/* .box{
		transform: scale(1, 1);
		transition: all 0.5s ease-out; 
	}
	.box:hover{
		transform: scale(1.2, 1.2);
	} */
	#common_box {
		width: 300px;
		position: fixed;
		_position: absolute;
		right: 0;
		top: 60%;
		background: #fff;
		z-index: 88;
	}

	#cli_on {
		width: 30px;
		height: 180px;
		float: left;
		cursor: pointer;
		background: #32251B;
		text-align: center;
		line-height: 180px;
	}

	.sbox2 {
		margin-top: 5px;
		margin-bottom: 5px;
	}

	/*********************************************************************************/
	/* Button Style                                                                  */
	/*********************************************************************************/
	#lightStrip {
		cursor: pointer;
		/* margin-bottom: 24px; */
		margin-left: 10px;
		margin-right: 10px;
		-moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
		background-color: #f6755e; 
		border-radius: 4px;
		border: 0;
		color: #ffffff;
		display: inline-block;
		font-family: "Montserrat", sans-serif;
		height: 3em;
		line-height: 3em;
		padding: 0 3em;
		text-align: center;
		text-decoration: none;
		white-space: nowrap;
		text-transform: uppercase;
	}

	/*********************************************************************************/
	/* Dropdown Style                                                                */
	/*********************************************************************************/
	#Options {
		cursor: pointer;
		margin-left: 10px;
		margin-right: 10px;
		margin-bottom: 15px;
		text-align: center;
		border: 1.5px solid;
		border-color: #84C1FF;
		width: 130px;
		height: 25px;
		/* 移除箭頭樣式 */
		appearance: none;
		-moz-appearance: none;
		-webkit-appearance: none;

		/*改變右邊箭頭樣式 */
		/* background-color: #fff; */
		background: url("./images/arrow.png") #fff no-repeat right center;
		background-size: contain;
	}

	/* IE隱藏箭頭*/
	#Options::-ms-expand {
		display: none;
	}

	#Options:focus {
		box-shadow: 0 0 5px 2px #467BF4;
	}

	/*********************************************************************************/
	/* RGB Range  Style                                                              */
	/*********************************************************************************/

	.rgb {
		margin-top: 50px;
		float: right;
		transform: scale(1, 1);
		transition: all 0.5s ease-out;
	}

	.rgb:hover {
		transform: scale(1.2, 1.2);
	}

	.range {
		-webkit-appearance: none;
		border-radius: 2px;
		width: 200px;
		height: 3px;
		outline: none;
		transition: .1s;
		cursor: pointer;
	}

	.range::-webkit-slider-thumb {
		-webkit-appearance: none;
		width: 10px;
		height: 10px;
		border-radius: 50%;
		transition: .1s;
	}

	.range::-webkit-slider-thumb:hover,
	.range::-webkit-slider-thumb:active {
		width: 16px;
		height: 16px;
	}

	#red {
		/* background-image:-webkit-linear-gradient(left ,#f22 0%,#f22 0%,#fff 100%, #fff 100%); */
		box-shadow: inset #ebb 0 0 5px;
		margin-bottom: 15px;
	}

	#red::-webkit-slider-thumb {
		background: #f22;
	}

	#green {
		/* background-image:-webkit-linear-gradient(left ,rgb(34, 255, 170) 0%,rgb(34, 255, 170) 50%,#fff 50%, #fff 100%); */
		box-shadow: inset #C1FFE4 0 0 5px;
		margin-bottom: 15px;
	}

	#green::-webkit-slider-thumb {
		background: rgb(34, 255, 170);
	}

	#blue {
		/* background-image:-webkit-linear-gradient(left ,rgb(34, 86, 255) 0%,rgb(34, 86, 255) 50%,#fff 50%, #fff 100%); */
		box-shadow: inset #84C1FF 0 0 5px;
	}

	#blue::-webkit-slider-thumb {
		background: rgb(34, 86, 255);
	}


	/*********************************************************************************/
	/* Heading Titles                                                                */
	/*********************************************************************************/

	.title {
		margin-bottom: 3em;
	}

	.title h2 {
		font-weight: 400;
		font-size: 2.8em;
		color: #323232;
	}

	/*********************************************************************************/
	/* Header                                                                        */
	/*********************************************************************************/

	/* #header-wrapper
	{
	} */

	#header {
		position: relative;
		height: 150px;
	}

	/*********************************************************************************/
	/* Logo                                                                          */
	/*********************************************************************************/

	#logo {
		position: absolute;
		top: 3em;
		left: 50px;
		width: 100%;
	}

	#logo h1 {
		display: inline-block;
		font-size: 2.5em;
		text-transform: uppercase;
		font-weight: 700;
		color: #FFF;
	}

	/*********************************************************************************/
	/* Page                                                                          */
	/*********************************************************************************/

	#page {
		overflow: hidden;
		/* background-color: #FFF; */
		border-top: 20px solid #32251B;
		background-image: url('./images/housebg.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		height: 550px;
	}

	/*********************************************************************************/
	/* Content                                                                       */
	/*********************************************************************************/

	#content {
		float: left;
		width: 500px;
		padding: 50px;
		/* background-color: #F3F3F3; */
	}

	/*********************************************************************************/
	/* Sidebar                                                                       */
	/*********************************************************************************/

	#sidebar {
		float: right;
		width: 500px;
		padding: 50px;
		padding-bottom: 0px;
	}

	#stwo-col {
		margin-top: 2em;
	}

	#stwo-col h2 {
		display: block;
		padding-bottom: 1.5em;
		letter-spacing: 0.10em;
		text-transform: uppercase;
		font-size: 1.2em;
		font-weight: 600;
		color: #454445;
	}

	#stwo-col .sbox {
		float: left;
		/* width: 230px; */
	}

	/*********************************************************************************/
	/* Footer                                                                        */
	/*********************************************************************************/



	/*********************************************************************************/
	/* Bottom                                                                        */
	/*********************************************************************************/

	#bottom {
		overflow: hidden;
		padding: 5em 0em;
	}

	#bottom p {
		letter-spacing: 0.20em;
		text-align: center;
		text-transform: uppercase;
		font-size: 0.80em;
		color: #FFF;
	}